<div class="typo">
  <h1>Welcome To The Namelix</h1>
  <h6>The World Of Everthing..!</h6>
</div>

<div class="box">
  <div class="row">
    <div class="col-sm-4" id="card">
      <h3>Watch a Movie</h3>
      <p>
        Nowadays lots of ways are there to watch films without dragging yourself
        to the movie theater. Moreover, many of them are even legal. We know
        that curling up on the couch with your Netflix subscription, let’s be
        realistic—some experiences are there that you can only get within the
        walls of your local cinema. A thing which many of us need to think about
        is a proper way to relieve our stress.
      </p>
      <button
        class="btn"
        style="margin-top: 10px; margin-bottom: 7px"
        routerLink="/movie"
      >
        Click Here
      </button>
    </div>
    <div class="col-sm-4" id="card">
      <h3>Looking for restaurant</h3>
      <p>
        Everyone has a favorite restaurant that he or she loves to eat at. The
        best restaurant to go to in Altoona is The Olive Garden. This peaceful
        place has the most delicious food for all the Italian food lovers out
        there. The Olive Garden is the most exquisite place to eat and is truly
        the finest restaurant in town.Every time I walk in to the Olive Garden I
        obtain the best feeling. No matter how many times I come.
        <button
          class="btn"
          style="margin-top: 25px; margin-bottom: 7px"
          routerLink="/resturent"
        >
          Click Here
        </button>
      </p>
    </div>

    <div class="col-sm-4" id="card">
      <h3>Looking for university</h3>
      <p>
        University is full of opportunities, but sometimes it can be hard to
        know which way to look first – or at least know where you’re headed –
        especially when your peers seem to know what they’re doing. Sometimes
        the best place to start is with the basics. What’s important to you?
        What motivates you? What do you want to achieve in life? What do you
        think your purpose is in life?, it might feel a bit overwhelming.
      </p>
      <button
        class="btn"
        style="margin-top: 10px; margin-bottom: 7px"
        routerLink="/university"
      >
        Click Here
      </button>
    </div>
  </div>
</div>
